body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  background-image: url(https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1bdd3a5305d7913b82929130ae81fef6&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top
}

#main-box {
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #E58639;
}

.logregcont {
  width: 40%;
}

#results-container :hover {
  transform: scale(1.1)
}
